<% include ./partials/header.ejs %>

<body>
	<div class = "nav-bar">
		<a href="/recipes">See our recipes</a><span>
		<a href="/users">Join Us!</a>
	</div>

	<div id = "main-logo"><img src="css/icons/cook-it-logo.png"></div>
</body>
</html>