<% include ../partials/header.ejs %>

<body>
	<div class = "nav-bar">
		<a href="/"><img src="css/icons/nav-logo.png"></a>
		<a href="/recipes">See all recipes</a>
	</div>

	<div id ="user-index-wrapper">
			<% if (!login) { %>
				<h2>Please login or signup</h2>
			<% } %>
			<br>
		<div id="signup">
			<% if (!login) { %>
				<h3>Sign Up</h3>
				<form action="/users" method="POST">
					<input type="text" name="username" placeholder="username"><br/>
					<input type="text" name="email" placeholder="email"><br/>
					<input type="text" name="password" placeholder="password"><br/>
					<input type="submit">
				</form>
			</div>
			<br/>
			<div id="login">
				<h3>Log In</h3>
				<form action="/users/login" method="POST">
					<input type="text" name="email" placeholder="email"><br/>
					<input type="text" name="password" placeholder="password"><br/>
					<input type="submit">
				</form>
			</br>
			<% } else { %>
				<a href="/users/logout"><p>Logout</p></a>
			<% } %>
		</div>

		<div id = "users-index"> 
			<h3>All Users</h3>
			<ul>
				<% for (var i=0; i < user.length; i ++) { %>
					<li><a href="/users/view/<%=user[i].id %>"><%= user[i].username %></a></li>
				<% } %>
			</ul>
		</div>
	</div>
</body>
</html>